@namespace Web.Pages.Schedule



<div class="scheduleItem" style="background-color: @Color ">
    @Item.Participant.Name @Item.Participant.Surname
    <br/>
    (@Item.Participant.Nickname)
    <br/>
    <br/>
    @Item.Competence.Name
</div>